
.container{
    display: flex;
    flex-direction: column;
}

.bloco{
    margin: 8px;
    padding: 20px 40px;
    background-color: lightgray;
    width: 15%;
}

h1{
    margin-left: 8px;
}

div p{
    margin-left: 8px;
}

